<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hongri.jetpack">

    <application
        android:name=".JetPackApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JetPackExplore">
        <activity
            android:name=".navigation.NavigationActivity"
            android:exported="false" />
        <activity
            android:name=".databinding.DataBindingActivity"
            android:exported="false" />

        <service
            android:name=".lifecycles.MyLifecycleService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".workmanager.WorkManagerActivity" />
        <activity android:name=".room.RoomActivity" />
        <activity android:name=".lifecycles.LifeCycleActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".viewmodel_livedata.CounterActivity" />
    </application>

</manifest>